.header,
.header__nav{
  display: flex;
  align-items: center;
}

.header{
  justify-content: space-between;
  position: sticky;
  top: -1px;
  height: 7vh;
  min-width: 100vw;
  background-color: #20232a;
}

.header__logo{
  margin: 0 1rem;
  width: 5vh;
  height: 5vh;
}

.header__nav{
  list-style: none;
  justify-content: space-around;
}

.header__link{
  text-align: center;
  text-decoration: none;
  margin: 0 .5rem;
  min-width: 75px;
  color: #41b8c9;
}

.header__link:hover{
  color: #61dafb;
}

.header__link--active{
  color: #61dafb;
  font-weight: 600;
}