.header,
.header__nav{
  display: flex;
  align-items: center;
}

.header{
  justify-content: space-between;
  position: sticky;
  top: -1px;
  height: 7vh;
  min-width: 95vw;
  background-color: #20232a;
}

.header__logo{
  margin: 0 1rem;
  width: 50px;
  height: 50px;
}

.header__nav{
  list-style: none;
  justify-content: space-around;
}

.header__link{
  min-width: 75px;
  text-decoration: none;
  color: #61dafb;
}