.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: sticky;
  bottom: -1px;
  height: 7vh;
  min-width: 95vw;
  background-color: #20232a;
}

.footer__info,
.footer__email{
  text-align: center;
}

.footer__info--github{
  text-decoration: none;
  color: #61dafb;
}